@charset "UTF-8";

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    span#burger {
        display: none;
    }

    main > article > h2 {
        border: 1px solid black;
        padding: 5px;
    }

    main::after {
        content: 'Matéria original em www.biroliro.com';
        text-decoration: overline;
    }
}

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu#options {
        display: block;
    }
    
    menu#options > ul > li {
        display: inline-block;
    }
}